img {
    width: 20px;
    height: 20px;
}
#lupa {
    width:50px ;
}
.lupaclase {
    height: 100px;
}
.ancho200px{
    width: 200px;
}
.BotonRojo{
    background-color: brown;
    color:aqua ;
    font-weight: 600;
}
.BotonAzul{
    background-color: blue;
    color: black;
    font-weight: 1000;

}
.titulo {
    background-color: green;
    color: black;
}
.titulo:hover{ 
    background-color: black;
    color: green;
    cursor: pointer;
    
}
.BotonRojo:hover{
    background-color: black;
    color: green;
    cursor: pointer;
    font-weight:1000;
}